<div class="moodTracker">
	<h1>Mood Tracker</h1>
	<p> Mon : {{monMood}} </p>
	<p> Tue : {{tueMood}} </p>
	<p> Wed : {{wedMood}} </p>
	<p> Thu : {{thuMood}} </p>
	<p> Fri : {{friMood}} </p>
	<p> Sat : {{satMood}} </p>
	<p> Sun : {{sunMood}} </p>
</div>